.home {
    background-image: url(C:\Users\dhars\Desktop\Re_Project\frontend\public\bg.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 50px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .home-content {
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent background for better text readability */
    padding: 30px;
    border-radius: 10px;
    max-width: 800px;
  }
  
  .home-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .home-content h2 {
    font-size: 28px;
    margin-top: 20px;
  }
  
  .home-content p {
    font-size: 18px;
    line-height: 1.6;
  }
  
  .home-content ul, .home-content ol {
    text-align: left;
    margin: 20px 0;
    padding-left: 20px;
  }
  
  .home-content ul li, .home-content ol li {
    margin-bottom: 10px;
  }
  